server {
    listen       80;
    server_name  ec2-52-87-2-115.compute-1.amazonaws.com;
    location / {
        root   /var/www/ec2-52-87-2-115.compute-1.amazonaws.com/public_html/;
         index  index.html index.htm;
    }
}
